:root {
	--card-bg-color: rgba(0,0,0,0.85);
	--card-fg-color:white;
}
.projects {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: minmax(400px, auto);
}
.project {
    color: var(--card-fg-color);
	width: 100%;
    padding: 5px;
    border-radius: 15px;
	background-color: var(--card-bg-color);
	font-family: "Open Sans";
}
.project-canvas {
    display: flex;
    justify-content: flex-end;
	background-image: url('./images/grid.svg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 10px;
	padding: 10px 0;
	min-height: 125px;
	position: relative;
}
.project-image {
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	right: 5px;
	background-color: darkslategray;

}
.project-title {
	text-align: center;
	margin-top:15px;
	font-size: 24px;
	font-weight: bold;
}
.project-details {
	font-weight: 600;
}
.project-links {
	width: 120px;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 60px 85px;
	font-size: 14px;
}
.project-src, .project-demo {
	display: grid;
	grid-template-columns: 2.5px 1fr;
	align-items: center;
	justify-content: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
	transition: transform 200ms ease-in-out;
	p {
		text-align: center;
	}
	&:hover {
		transform: scale(1.05);
		font-weight: bolder;
		transition: transform, font-weight, 200ms ease-in-out;
	}
} 
.project-src {
	color: rebeccapurple;
	
}
.project-demo {
	color: yellowgreen;
}
.project-skills {
	margin-top: 5px;
}
@media (max-width: 1000px) {
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 800px) {
	.projects {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.projects {
		grid-template-columns: 1fr;
	}
}
