.projects {
	padding: 5px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(400px, auto);
}
@media (max-width: 1000px) {
	.projects {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 450px) {
	.projects {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}