import "./navbar.scss";
<nav.navbar>
    <img.navbar-logo src='./images/fz-logo.png' />
    <ul.navbar-list>
        <li.nav-items>
            <a href="#">Home</a>
        </li>
        <li.nav-items>
            <a href="#">Intro</a>
        </li>
        <li.nav-items>
            <a href="#">Projects</a>
        </li>
        <li.nav-items>
            <a href="#">Skills</a>
        </li>
        <li.nav-items>
            <a href="#">About</a>
        </li>
    </ul>
</nav>
