import "./intro.scss";

<div.intro-section>
    <section.intro-image-section>
        <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="Profile Image"/>
    </section>
    <section.intro-details-section>
        <h1>I Am Foster Z</h1>
        <h3>Search from thousands of royalty-free User stock images and video for your next project. Download royalty-free stock photos, vectors</h3>
    </section>
</div>