import "./intro.scss";

<div.intro-section>
    <section.intro-details-section>
        <h1.intro-title><strong.emphasize>Hi</strong>, I Am Foster Z</h1>
        <h2.intro-subtitle-1><b>Enthusiastic & Passionate</b> Programmer</h2>
        <h3.intro-subtitle-2>
            <span>By Heart</span>
            <i.bi.bi-suit-heart-fill></i>
        </h3>
    </section>
</div>