import "./intro.scss";

<div.intro-section>
    <section.intro-image-section>
        <img src="./images/user.svg" alt="Profile Image"/>
    </section>
    <section.intro-details-section>
        <h1><strong.emphasize>Hi</strong>, I Am Foster Z</h1>
        <h3>Enthusiastic & Passionate Programmer</h3>
        <h4>By Heart<i class="bi bi-suit-heart-fill"></i></h4>
    </section>
</div>