.intro-section {
	display: grid;
	grid-template-columns: 350px 1fr;
	justify-content: space-between;
}
.intro-image-section {
	img {
		width: 350px;
		height: 350px;
		border-radius: 50%;
		object-fit: contain;
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.intro-details-section {
	margin-left: 100px;
	margin-top: 200px;
	h1 {
		font-size: 28px;
		font-family: "Montserrat", sans-serif;
		overflow: hidden;
		border-right: 0.15em solid teal;
		white-space: nowrap;
		letter-spacing: 0.15em;
		max-width: 350px;
		animation: typing 5s steps(40, end), blink-caret 1s step-end infinite;
		animation-timing-function: linear ease-in;
		.emphasize {
			color: cyan;
		}
	}
	h2 {
		font-family: "Playfair display";
		b {
			display: block;
			text-align: center;
			font-size: 28px;
			background: linear-gradient(45deg, yellow, orangered);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	h3 {
		display: flex;
		align-items: center;
		font-size: 20px;
		font-family: "montserrat", sans-serif;
		i {
			color: rgba(255, 0, 0, 0.945);
			margin-left: 5px;
			font-size: 32px;
			animation-name: heart-icon;
			animation-duration: 2s;
			text-shadow: 0 0 5px red;
			animation-timing-function: linear;
			animation-iteration-count: 3;
		}
	}
	padding-top: 20px;
}
@keyframes heart-icon {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: teal;
	}
}
@media (max-width: 700px) {
	.intro-section {
		width: 100%;
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	.intro-image-section {
		text-align: center;
		img {
			max-width: 250px;
			max-height: 250px;
		}
	}
	.intro-details-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0;
		flex-direction: column;
		h1 {
			font-size: x-large;
		}
		h2 {
			max-width: 450px;
		}
	}
}
