:root {
	--default-bg-color: rgba(0,0,0,0.85);
}
.project-header {
	font-size: 36px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
.intro-section {
	display: grid;
	grid-template-columns: 500px 1fr;
	justify-content: space-between;
	background-image: url('./images/grid.svg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.intro-image-section {
	img {
		width: 350px;
		height: 350px;
		border-radius: 50%;
		object-fit: contain;
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.intro-details-section {
	margin-left: 100px;
	margin-top: 0px;
	h1 {
		font-size: 32px;
		font-family: "Montserrat", sans-serif;
		letter-spacing: 0.15em;
		.emphasize {
			background: linear-gradient(45deg, gray, black);
			background-clip: text;
			font-style: normal;
			letter-spacing: normal;
			font-weight: bolder;
			-webkit-text-fill-color: transparent;
			background-color: var(--default-bg-color);
		}
	}
}

@media (max-width: 700px) {
	.intro-section {
		width: 100%;
		grid-template-columns: 1fr;
	}
	.intro-image-section {
		text-align: center;
		img {
			max-width: 250px;
			max-height: 250px;
		}
	}
	.intro-details-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0;
		flex-direction: column;
		h1 {
			font-size: x-large;
			text-align: center;
		}
	}
}
