.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items a {
    border-radius: 50%;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: white;
    &:hover {
        background: gray;
    }
}